extends layout

block content
  form(action="/edit/#{film._id}", method="POST")
    .form-group
      label(for="filmName") Film Name
      input#filmName.form-control(name="title", type="text", value=film.title)
    .form-group
      label(for="runtime") Runtime
      input#runtime.form-control(name="runtime", type="text", value=film.runtime)
    .form-group
      label(for="summary") Summary
      input#summary.form-control(name="summary", type="text", value=film.summary)
    .form-group
      label(for="imdbRating") ImDb Rating
      input#imdbRating.form-control(name="imdb_rating", type="text", value=film.imdb_rating)
    .form-group
      label(for="releaseDate") Release Date
      input#releaseDate.form-control(name="release_date", type="date", value=film.release_date)

    .form-group
      .btn-group
        button.btn.btn-primary(type="submit") Create
        button.btn.btn-danger Cancel
